<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head.ejs'); %>
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/index.css">
    <title>Login - Music Gallery</title>
</head>

<body>
    <main>
        <section>
            <h1>Music Gallery</h1>
            <p>Get a full gallery of your top played tracks and recommendations based on these tracks!</p>
            <a href="/login">Login to Spotify</a>
        </section>

        <section>
            <div class="loginContainer">
                <ul class="loginGrid">
                        <li><div class="green"></div></li>
                        <li><div class="purple"></div></li>
                        <li><div class="dark-blue"></div></li>
                        <li><div class="turquoise"></div></li>
                        <li><div class="pink"></div></li>
                        <li><div class="purple"></div></li>
                        <li><div class="dark-blue"></div></li>
                        <li><div class="green"></div></li>
                        <li><div class="turquoise"></div></li>
                        <li><div class="pink"></div></li>
                </ul>
             </div>
        </section>

        <footer>
            <p>This website uses the Spotify API to show top tracks and create recommended playlists. </p>
            <p>&copy; 2024 Elaine Wilberforce </p>
        </footer>
    </main>

    <!-- Lenis, gsap, gsap scrollTrigger-->
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script src="https://unpkg.com/@studio-freight/lenis@1.0.42/dist/lenis.min.js"></script> 
    <script defer="" src="/scripts/login.js"></script>
</body>
</html>