<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head.ejs'); %>
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/index.css">
    <title>Login - Music Gallery</title>
</head>

<body>
    <main>
        <h1>Music Gallery</h1>
        <section>
            <p>Get a full gallery of your top played tracks and recommendations based on these tracks!</p>
            <a href="/login">Login to Spotify</a>
        </section>

        <footer>
            <p>This website uses the Spotify API to show top tracks and create recommended playlists. </p>
            <p>&copy; 2024 Elaine Wilberforce </p>
        </footer>
    </main>
    <script defer="" src="/src/scripts/index.js"></script>
</body>
</html>