<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head.ejs'); %>
</head>

<body>
    <main>
        <h1>Spotify Login</h1>
        
    </main>
    <script defer="" src="/src/scripts/index.js"></script>
</body>
</html>