<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head.ejs'); %>
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/playlist-added.css">
    <title>Your new added playlist - Music Gallery</title>
</head>

<body>
    <main>
        <h1>Music Gallery</h1>
        <section>
            <h2>Your playlist was added to your Spotify account!</h2>
            <p>Share your playlist with friends and family here: </p>
            <button id="shareButton">Share Playlist</button>

            <div id="embed-iframe"></div>
        </section>
        <footer>
            <p>Spotify Playlist ID: <%= playlistID %></p>
            <p>This website uses the Spotify API to show top tracks and create recommended playlists. </p>
            <p>&copy; 2024 Elaine Wilberforce </p>
        </footer>
    </main>

    <script>
        document.getElementById('shareButton').addEventListener('click', async () => {
            try {
                // Check if the Web Share API is supported (test with Firefox and Safari)
                if (navigator.share) {
                    await navigator.share({
                        title: 'Top Recommendations nby Music Gallery',
                        text: 'Check out my recommended playlist made with Music Gallery!',
                        url: '<%= playlistUrl %>'
                    });
                    console.log('Playlist shared successfully!');
                } else {
                    console.log('Web Share API is not supported.');
                }
            } catch (error) {
                console.error('Error sharing playlist:', error);
            }
        });
    </script>

    <script src="https://open.spotify.com/embed/iframe-api/v1" async></script>

    <script>
        // spotify iframe code
        window.onSpotifyIframeApiReady = (IFrameAPI) => {
            // delay for loading full embed block
            setTimeout(() => {
                const element = document.getElementById('embed-iframe');
                const options = {
                    uri: '<%= playlistUri %>'
                };
                const callback = (EmbedController) => {};
                IFrameAPI.createController(element, options, callback);
            }, 2000); // 1000 ms
    };      
    </script>

    <!-- Lenis, gsap, gsap scrollTrigger-->
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script src="https://unpkg.com/@studio-freight/lenis@1.0.42/dist/lenis.min.js"></script> 
    <script defer="" src="/scripts/index.js"></script>
</body>
</html>