@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* ----------- */
/* - general - */
/* ----------- */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --spotify-green: #1DB954;
  --neon-pink: #f72585;
  --white: #FFFFFF;
  --black: #191414;
  --purple: #7209b7;
  --dark-blue: #3a0ca3;
  --turquoise: #4cc9f0;
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: var(--black);
    color: var(--white);
}

button {
  font-family: "DM Sans", sans-serif;
}


  