<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head.ejs'); %>
</head>

<body>
    <main>
        <h1>Personal app</h1>

        <section>
    
        </section>
    </main>
 <script defer="" src="./scripts/script.js"></script>
</body>
</html>